<div class="online-users">
    <h3>Online Users</h3>
    <button (click)="refreshUserList()">Refresh User List</button>
    <div *ngIf="onlineUsers.length === 0">No users online</div>
    <div *ngFor="let user of onlineUsers">
        <div class="user-name" (click)="onSelectUser(user)">
            <input type="radio" name="onlineUser" [value]="selectedUser.username" />
            {{ user.username }} {{user.newMessageCount ? ' (' + user.newMessageCount + ' new messages)' : ''}}
        </div>
    </div>
    <br />
</div>